body {
    font-family: Verdana;
}
header {
    text-align: center;
    padding: 10px;
    background-color: darkgray;

}

section {
    margin: 20px;
}

.project {
    width: 200px;
    height: 200px;

    border: 1px solid #ccc;
    margin: 10px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-size: .8vw; /*.8*/
    line-height: 200px;
}
#project1{
    background-color: lightblue;
}


h1, h2 {
    color: #333;
}

#bio, #work {
    background-color: #f4f4f4;
    padding: 15px;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
}
